**

!.gitignore
!.dockerignore

!.gitlab-ci.yml

!Dockerfile
!docker-compose.yml
!Makefile
!requirements.txt
!README.md

!mypy.ini
!pylintrc

!feature_overlapper/
!feature_overlapper/**/
!feature_overlapper/**/*.py

!feature_overlapper/features/
!feature_overlapper/features/*

!feature_overlapper/palindromes/
!feature_overlapper/palindromes/*