**

!.gitignore
!.dockerignore

!.gitlab-ci.yml

!Dockerfile
!docker-compose.yml
!Makefile
!requirements.txt
!README.md
!Procfile
!runtime.txt
!wsgi.py

!mypy.ini
!pylintrc

!app/
!app/**
!app/**/*.py

app/__pycache__/

!feature_overlapper/
!feature_overlapper/**/
!feature_overlapper/**/*.py

!feature_overlapper/features/
!feature_overlapper/features/*

!feature_overlapper/palindromes/
!feature_overlapper/palindromes/*

!rloop_stats/
!rloop_stats/**/
!rloop_stats/**/*.py