{% extends "base.html" %}
{% block content %}
<div class="card-deck mb-3 mt-5 pt-4 text-center mx-auto">

  <div class="card mb-4 box-shadow">
    <div class="card-header script-card-header">
      <h4 class="my-0 font-weight-normal">Feature overlapper</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4">
        <li>Merges results from Palindrome analyser with sequence annotations.</li>
        <br>
        <hr/>
        <li>Source code is available <a href="https://github.com/jan-havlik/bioscripts/tree/master/feature_overlapper">here</a>.</li>
      </ul>
      <a href="{{ url_for('feature_overlapper') }}">
        <button type="button" class="btn btn-sm btn-block btn-primary">Go</button>
      </a>
    </div>
  </div>

  <div class="card mb-4 box-shadow">
    <div class="card-header script-card-header">
      <h4 class="my-0 font-weight-normal">R-loop stats</h4>
    </div>
    <div class="card-body">
      <ul class="list-unstyled mt-3 mb-4">
        <li>Provides statistic output with images for given sequence containing R-loops.</li>
        <li>Uses API of <a href="https://bioinformatika.pef.mendelu.cz">DNA Analyser.</a></li>
        <hr/>
        <li>Source code is available <a href="https://github.com/jan-havlik/bioscripts/tree/master/rloop_stats">here</a>.</li>
      </ul>
      <a href="{{ url_for('rloop_stats') }}">
        <button type="button" class="btn btn-sm btn-block btn-primary">Go</button>
      </a>
    </div>
  </div>

</div>
{% endblock %}
