{% extends "base.html" %}
{% block content %}

<h2>Rloop stats</h2>

<form class="mt-4" action="{{ url_for('rloop_stats') }}" method="POST">
  <div class="form-group">
    <label for="rloopStatsEmail">DNA Analyser login (e-mail)</label>
    <input type="email" class="form-control" id="rloopStatsEmail" aria-describedby="emailHelp" placeholder="Enter e-mail" name="rloopStatsEmail">
  </div>
  <div class="form-group">
    <label for="rloopStatsPassword">DNA Analyser Password</label>
    <input type="password" class="form-control" id="rloopStatsPassword" placeholder="Password" name="rloopStatsPassword">
  </div>
  <div class="form-group">
    <label for="rloopStatsRefSeq">NCBI Reference Sequence</label>
    <input type="text" class="form-control" id="rloopStatsRefSeq" placeholder="RefSeq NC_...." name="rloopStatsRefSeq">
    <small id="ncbiIdHelp" class="form-text text-muted">
      Genomic reference sequence, e.g. 
      <a href="https://www.ncbi.nlm.nih.gov/nuccore/NC_000017.11?from=43032134&to=43137523&report=graph&content=5&strand=true">NW_009260760.1</a>
    </small>
  </div>
  <button type="submit" class="btn btn-primary">Analyse</button>
</form>

{% if err_msg %}
  <div class="card card-body mt-4">
    <p style="color:red;">
      {{ err_msg }}
    </p>
  </div>
{% endif %}

{% if stats %}
<hr class="mt-2 mb-2">

<a href="{{ url_for('graph_download', filename=filename) }}">
  <button type="button" class="btn btn-secondary btn-lg">Download result graph</button>
</a>

<table class="table table-bordered mt-4">
  <tbody>
    <tr>
      <td colspan="2" class="font-weight-bold" style="width: 50%">Number of R-loops</td>
      <td style="width: 50%">{{ stats["analysis_total"] }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td rowspan="4" class="align-middle font-weight-bold" style="width: 50%">RIZ Guanine richness</td>
      <td class="text-monospace" style="width: 25%">avg</td>
      <td style="width: 25%">{{ stats["RizG"]["avg"] }} %</td>
    </tr>
    <tr>
      <td class="text-monospace">min</td>
      <td>{{ stats["RizG"]["min"] }} %</td>
    </tr>
    <tr>
      <td class="text-monospace">max</td>
      <td>{{ stats["RizG"]["max"] }} %</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td rowspan="4" class="align-middle font-weight-bold" style="width: 50%">Rloop Guanine richness</td>
      <td class="text-monospace" style="width: 25%">avg</td>
      <td style="width: 25%">{{ stats["RloopG"]["avg"] }} %</td>
    </tr>
    <tr>
      <td class="text-monospace">min</td>
      <td>{{ stats["RloopG"]["min"] }} %</td>
    </tr>
    <tr>
      <td class="text-monospace">max</td>
      <td>{{ stats["RloopG"]["max"] }} %</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td rowspan="4" class="align-middle font-weight-bold" style="width: 50%">Number of 3G clusters</td>
      <td class="text-monospace" style="width: 25%">avg</td>
      <td style="width: 25%">{{ stats["3G"]["avg"] }}</td>
    </tr>
    <tr>
      <td class="text-monospace">min</td>
      <td>{{ stats["3G"]["min"] }}</td>
    </tr>
    <tr>
      <td class="text-monospace">max</td>
      <td>{{ stats["3G"]["max"] }}</td>
    </tr>
    <tr>
      <td class="text-monospace">sum</td>
      <td>{{ stats["3G"]["sum"] }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td rowspan="4" class="align-middle font-weight-bold" style="width: 50%">Number of 4G clusters</td>
      <td class="text-monospace" style="width: 25%">avg</td>
      <td style="width: 25%">{{ stats["4G"]["avg"] }}</td>
    </tr>
    <tr>
      <td class="text-monospace">min</td>
      <td>{{ stats["4G"]["min"] }}</td>
    </tr>
    <tr>
      <td class="text-monospace">max</td>
      <td>{{ stats["4G"]["max"] }}</td>
    </tr>
    <tr>
      <td class="text-monospace">sum</td>
      <td>{{ stats["4G"]["sum"] }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td rowspan="4" class="align-middle font-weight-bold" style="width: 50%">Number of 5G clusters</td>
      <td class="text-monospace" style="width: 25%">avg</td>
      <td style="width: 25%">{{ stats["5G"]["avg"] }}</td>
    </tr>
    <tr>
      <td class="text-monospace">min</td>
      <td>{{ stats["5G"]["min"] }}</td>
    </tr>
    <tr>
      <td class="text-monospace">max</td>
      <td>{{ stats["5G"]["max"] }}</td>
    </tr>
    <tr>
      <td class="text-monospace">sum</td>
      <td>{{ stats["5G"]["sum"] }}</td>
    </tr>
  </tbody>
</table>

{% endif %}

{% endblock %}